<template name="home">
    <div class="container">


        {{#if currentUser}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Global Map
                    </div>
                </div>
                <div class="panel-body">
<pre>// background location {{#if currentUser.profile.backgroundLocation}}{{preme currentUser.profile.backgroundLocation}}{{else}}nothing yet..{{/if}}
</pre>
                    <div class="map-container">
                        {{> googleMap name="exampleMap" options=exampleMapOptions}}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn btn-default markSpot"><i class="fa fa-map-marker"> </i> Mark Spot</div>
                </div>
            </div>
        {{else}}
            <div class="loginForm">
                {{>atForm}}
            </div>
        {{/if}}
    </div>
</template>